<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
  <title>Link.ly</title>
</head>

<div class="header">
  <h1>Link.ly</h1>
  <h3>Shortening URLs one character at a time.</h3>

  <form action="/urls" method="post">
    Enter URL:
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
  </form>
</div>

<div class="full_list">
  <h4>Full Link.ly List!</h4>
  <table>
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
      <!-- <th>Counter Count</th> -->
    </tr>
    <% Url.all.each do |link| %>
    <tr>
      <td><%= link.long_url %></td>
      <td><a href="<%=link.long_url%>" target="_blank"> http://link.ly/<%=link.short_url%></a></td>
    </tr>
    <% end %>
  </table>
</div>
