<html>
	<head>
	  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	  <link rel="stylesheet" href="/css/index.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <title>Link.ly</title>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
